@font-face {
  font-family: "Poppins";

  src: url("./media/Poppins-Regular.ttf") format("truetype"),
    url("./media/Poppins-SemiBold.ttf") format("truetype");

  font-weight: 400;

  font-style: normal;
}

@font-face {
  font-family: "RobotoMono";

  src: url("./media/RobotoMono-Regular.ttf") format("truetype");

  font-weight: 400;

  font-style: normal;
}

.video {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  min-height: 100%;
}

.fade {
  position:absolute;
  width: 100%;
  min-height: 100%;
  background-color: rgb(22, 22, 22);
  opacity: 1;
  transition: opacity 0.5s;
}

.lds-ripple {
  display: inline-block;
  position: absolute;
  width: 80px;
  height: 80px;
  left:50vw;
  top:50vh;
  transform: translate(-50%,-50%) scale(5);
}

.lds-ripple.small {
  left:90vw;
  top:90vh;
  transform: translate(-50%,-50%) scale(1);
}

.lds-ripple div {
  position: absolute;
  border: 1px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}


.fade.in {
  opacity: 0;
}

.overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  max-height: 100vh;
  z-index: 4;
  width: 66%;
  height: 88%;
  border-radius: 30px;
  background: linear-gradient(
    rgba(144, 189, 231, 1) 0%,
    rgba(144, 189, 231, 1) 20%,
    rgba(209, 220, 138, 1) 100%
  );
  /*background: linear-gradient(rgba(169, 204, 237, 1)0%, rgba(169, 204, 237, 1) 25%,rgba(213, 214, 163, 1) 100%);*/
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transition: transform 0.5s, opacity 0.5s;
}

p {
  font-family: poppins, sans-serif;
  font-size: 24px;
  margin: 10px 0;
}

p.temp {
  font-family: RobotoMono, monospace;
}

header {
  display: flex;
  margin: 31px 0px;
  width: 90%;
  justify-content: space-between;
}

.logo {
  display: inline-flex;
  font-weight: 600;
  gap: 21px;
  align-items: center;
}

.siteName {
  font-size: 32px;
}

input {
  display: inline-block;
}

.hide {
  display: none;
}

.wrapperP {
  width: 335px;
}

.wrapper {
  width: 335px;
  border-radius: 30px;
  box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.15);
  position: absolute;
  background-color: white;
  z-index: 5;
}

.search {
  border-radius: 30px;
  width: 335px;
  height: 52px;
  padding-left: 10px;
  font-size: 1rem;
  border: none;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  font-size: 20px;
  font-weight: 400;
  opacity: 1;
  color: black;
}

.suggestions {
  margin-top: 5px;
}

.suggestions p {
  font-size: 20px;
  margin: 0px 0px;
  padding: 10px 10px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  cursor: pointer;
}

.suggestions p:hover {
  background-color: rgb(243, 243, 243);
}

.searchIcon {
  position: fixed;
  transform: translate(830%, 18%) scale(1);
  cursor: pointer;
}

/* Remove x from the search bar */

/* clears the 'X' from Internet Explorer */
input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/* Styling for the toggle switch that switches between celsius/metric and fahrenheit/imperial */

.toggleSwitch {
  width: 100px;
  height: 50px;
  display: flex;
  align-items: center;
}

input[type="checkbox"] {
  position: absolute;
  left: -5000px;
  top: -5000px;
}

input[type="checkbox"] + label {
  cursor: pointer;
  display: flex;
  align-items: center;
}

input[type="checkbox"] + label::before {
  background-color: rgb(218, 218, 218);
  transition: background-color 0.5s;
}

input[type="checkbox"] + label::after {
  background-color: rgb(255, 255, 255);
  transition: background-color 0.5s;
}

/* general styling celsius state */
input[type="checkbox"].celsius + label::before {
  content: "";
  width: 5em;
  height: 40px;
  border-radius: 40px;
}

input[type="checkbox"].celsius + label::after {
  display: flex;
  align-items: center;
  justify-content: center;
  content: "°C";
  width: 48px;
  height: 48px;
  border: 1px solid black;
  border-radius: 50%;
  position: absolute;
  font-size: 26px;
  font-family: Poppins;
}

/* general styling fahrenheit state */
input[type="checkbox"].fahrenheit + label::before {
  content: "";
  width: 5em;
  height: 40px;
  border-radius: 40px;
}

input[type="checkbox"].fahrenheit + label::after {
  display: flex;
  align-items: center;
  justify-content: center;
  content: "°F";
  width: 48px;
  height: 48px;
  border: 1px solid black;
  border-radius: 50%;

  position: absolute;
  transform: translateX(32px);
  font-size: 26px;
  font-family: RobotoMono;
}

/* Keyframes for hovering over toggle switch in celsius state */

@keyframes hoverCelsiusAfter {
  100% {
    content: "°F";

    transform: translateX(16px);
  }
}

input[type="checkbox"].hover-enabled:not(:checked):hover + label::after {
  animation: hoverCelsiusAfter 0.4s 0.25s 2 alternate;
}

/* Keyframes for clicking on toggle switch in celsius state */

@keyframes setToFahrenheitAfter {
  0% {
    transform: translateX(0);
    content: "°C";
  }
  100% {
    transform: translateX(32px);
    content: "°F";
  }
}

input[type="checkbox"].transition-enabled:checked + label::after {
  animation: setToFahrenheitAfter 0.4s 1 normal;
}

/* Keyframe for clicking on toggle switch in fahrenheit state */

@keyframes setToCelsiusAfter {
  0% {
    transform: translateX(32px);
    content: "°F";
  }
  100% {
    transform: translateX(0);
    content: "°C";
  }
}

input[type="checkbox"].transition-enabled:not(:checked) + label::after {
  animation: setToCelsiusAfter 0.4s 1 normal;
}

input[type="checkbox"]:focus + label::before {
  outline: 1px solid black;
}

/* Keyframes for hovering over toggle switch in fahrenheit state */

@keyframes hoverFahrenheitAfter {
  100% {
    content: "°C";
    transform: translateX(16px);
  }
}

input[type="checkbox"].hover-enabled:checked:hover + label::after {
  animation: hoverFahrenheitAfter 0.4s 0.25s 2 alternate;
}

.socials {
  display: inline-flex;
  align-items: center;
  font-weight: 600;
  gap: 10px;
}

a {
  color:black;
  text-decoration: none;
}



.githubBackground {
  align-items: center;
  background-color: white;
  width: 35px;
  height: 36px;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}

.detailed {
  width: 81.6%;
  height: 55%;
  background-color: white;
  border-radius: 30px;
  /*filter: drop-shadow(0 1px 1px black);*/
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.8s;
}

.selectedWeather {
  display: flex;
  width: 84%;
  justify-content: space-between;
  margin-top: 20px;
}

.weatherData {
  text-align: start;
  font-size: 20px;
}

.text p,
.variables p {
  font-size: 20px;
}

.text {
  margin-right: 16px;
}

.weatherData .temp {
  font-size: 36px;
}

.iconAndTemp {
  display: flex;
  align-items: center;
}

.iconAndTemp p {
  font-size: 30px;
  margin-left: 16px;
  font-weight: 600;
}

.text {
  display: inline-block;
}

.variables {
  display: inline-block;
}

.metaData {
  text-align: end;
}

.metaData .date {
  font-size: 28px;
  margin-bottom: 20px;
}

.city {
  font-size: 20px;
  margin-bottom: 5px;
}

.time {
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 20px;
}

.hourSection {
  display: flex;
  flex-wrap: nowrap;
  overflow-y: scroll;
  max-width: 84%;
  gap: 50px;
  margin-top: 60px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  padding-top: 20px;
  scroll-snap-type: inline mandatory;
  cursor: grab;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hourSection::-webkit-scrollbar {
  display: none;
}

.selected {
  transform: translateY(-10%);
}

.hourData {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s, left 0.25s;
  position: relative;
  left: 0px;
  user-select: none;
}

.hourData:hover {
  transform: translateY(-10%);
}

.hourData .time,
.hourData .icon,
.hourData .temp {
  pointer-events: none;
}

.daySlider {
  display: flex;
  align-items: center;
  width: 90%;
  margin-left:22px;
}

.daySection {
  display: flex;
  width: 91%;
  gap: 32px;
  overflow-y: scroll;
  padding-top: 38px;
  padding-bottom: 10px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  cursor: grab;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.daySection::-webkit-scrollbar {
  display: none;
}

.dayData {
  padding: 10px;
  background-color: white;
  /*filter: drop-shadow(0 1px 1px black);*/
  border-radius: 30px;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
  height: 150px;
  width: 300px;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.5s;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  left: 0px;
  user-select: none;
  scroll-snap-align: start;
}

.dayData:hover {
  transform: translateY(-10%);
}

.metaAndIcon {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 10px;
  pointer-events: none;
}

.meta {
  text-align: start;
}

.weekday {
  font-size: 28px;
  margin-top: 5px;
}

.meta .date {
  font-size: 18px;
}

.tempScale {
  display: flex;
  align-items: center;
  width: 60%;
  justify-content: space-around;
  pointer-events: none;
}

.spacer {
  font-size: 35px;
}

.backArrow {
  width: 0px;
  height: 0px;
  border-right: 20px solid white;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  cursor: pointer;
  margin-right: 20px;
  position: relative;
  right: 0px;
  transition: right 0.2s, margin-right 0.2s, border-right 0.2s, border-top 0.2s,
    border-bottom 0.2s;
}

.backArrow:active {
  right: 6px !important;
}

.backArrow:hover {
  border-right-width: 25px;
  border-top-width: 25px;
  border-bottom-width: 25px;
  margin-right: 15px;
  right: 2.5px;
}

.forwardArrow {
  width: 0px;
  height: 0px;
  border-left: 20px solid white;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  cursor: pointer;
  margin-left: 20px;
  position: relative;
  left: 0px;
  transition: left 0.2s, margin-left 0.2s, border-left 0.2s, border-top 0.2s,
    border-bottom 0.2s;
}

.forwardArrow:active {
  left: 6px !important;
}

.forwardArrow:hover {
  border-left-width: 25px;
  border-top-width: 25px;
  border-bottom-width: 25px;
  margin-left: 15px;
  left: 2.5px;
}

#errorWrapper {
  width: 100%;
  height: 90%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 23px;
}

#errorHeading {
  font-size: 32px;
  font-family: poppins;
}

#errorText {
  font-size: 20px;
  width: 70%;
  line-height: 1.5;
  font-family: poppins;
}
